extends layout
block content
    div(class="container-fluid")
        h1= title
    - let results=[{elephant_color:"black",elephant_breed:"Borneo elephant",elephant_price:2000},{elephant_color:"grey",elephant_breed:"Asian elephant",elephant_price:5500},{elephant_color:"black",elephant_breed:"African elephant",elephant_price:4000}]
        div(class="row")
            each form,item in results
                div(class = "col-sm-2 bg-info" onclick=`buy(${item})`) #{form.elephant_color}              
                div(class = "col-sm-2 bg-info" onclick=`buy(${item})`) #{form.elephant_breed}                
                div(class = "col-sm-2 bg-info" onclick=`buy(${item})`) #{form.elephant_price}
                hr
    script.
        function buy(itemNo)
        {
            alert(`You purchased Item ${itemNo+1}`)
        }